<h1>Pages</h1>
<div>
  <ul>
    <% @pages.each do |page| %>
      <li>
        <%= link_to page.page_name, page_path(page) %>
      </li>
    <% end %>
  </ul>
<h2> Create</h2>
  <%= link_to "Create Page", new_page_path %>
</div>