<h2 align="center">Title: <%= @page.page_name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <hr>
  <p><%= simple_format(@page.page_text) %></p>
  <p>
    <%= link_to "Change view", change_navbar_display_page_path(@page), method: :put, class: "btn btn-xs btn-info" %>
  </p>
</div>