<div class="b-example-divider"></div>
<footer class="footer footer-default py-3 my-4">
  <div class="container">
    <table>
      <%= render 'pages/footer_page' %>
    </table>

    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>

  </div>
</footer>